.recommendation {
    margin-bottom: 30px;
}

.recommendation blockquote {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 8px;
    margin: 0;
    font-style: italic;
    border-left: 5px solid #00BCD4; /* Cyan border on the left */
}

.recommendation blockquote p {
    margin: 0;
}

.author {
    margin-top: 10px;
    font-size: 14px;
    font-style: normal;
    color: #808080; /* Light gray color for the author */
}

.author a {
    color: #00BCD4; /* Cyan color for LinkedIn link */
    text-decoration: none;
    padding-left: 10px;
}

.author a:hover {
    text-decoration: underline;
}

.show-more {
    color: #00BCD4;
    cursor: pointer;
    margin-top: 10px;
}

.show-more:hover {
    text-decoration: underline;
}

.separator {
    height: 2px;
    background-color: #B0BEC5;
    border-radius: 2px;
    margin-bottom: 30px;
}

.separator:last-child {
    all: unset;
}